APP_STAGE = dev
NODE_ENV = development

PORT = 8000

DATABASE_CONNECTION_URL = postgresql://user:password@localhost/mydatabase

COOKIE_SECRET_KEY = your_cookie_secret_key_must_be_32_characters_long

PASSWORD_SALT_ROUNDS = 12